<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>world01_bg_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,217},{640,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,216}}</string>
			<key>sourceSize</key>
			<string>{640,216}</string>
		</dict>
		<key>world01_bg_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,0},{640,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,216}}</string>
			<key>sourceSize</key>
			<string>{640,216}</string>
		</dict>
		<key>world02_bg_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{640,335}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,335}}</string>
			<key>sourceSize</key>
			<string>{640,335}</string>
		</dict>
		<key>world02_bg_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,336},{640,335}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,335}}</string>
			<key>sourceSize</key>
			<string>{640,335}</string>
		</dict>
		<key>world03_bg_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,672},{640,296}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,296}}</string>
			<key>sourceSize</key>
			<string>{640,296}</string>
		</dict>
		<key>world03_bg_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,0},{640,296}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,296}}</string>
			<key>sourceSize</key>
			<string>{640,296}</string>
		</dict>
		<key>world04_bg_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,297},{640,266}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,266}}</string>
			<key>sourceSize</key>
			<string>{640,266}</string>
		</dict>
		<key>world04_bg_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,564},{640,266}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,266}}</string>
			<key>sourceSize</key>
			<string>{640,266}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>stripes@2x.png</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>textureFileName</key>
		<string>stripes@2x.png</string>
	</dict>
</dict>
</plist>
