<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>world04_bloc_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {78, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 76}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1038, 1780}, {78, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_01_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {116, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 114}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 312}, {116, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_01_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {154, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{154, 152}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1880, 394}, {154, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {156, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 80}</string>
			<key>spriteSourceSize</key>
			<string>{160, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1880, 312}, {156, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_02_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {234, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 120}</string>
			<key>spriteSourceSize</key>
			<string>{240, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1042, 856}, {234, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_02_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {312, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{312, 158}</string>
			<key>spriteSourceSize</key>
			<string>{320, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1094}, {312, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {232, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{232, 156}</string>
			<key>spriteSourceSize</key>
			<string>{240, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{960, 1096}, {232, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_03_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {348, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{348, 234}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 620}, {348, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_03_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {464, 312}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{464, 312}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 312}, {464, 312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_04a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {156, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 154}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1884, 0}, {156, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_04a_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {234, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 230}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{806, 864}, {234, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_04a_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {310, 306}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{310, 306}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 1562}, {310, 306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_04b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {156, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{156, 154}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1884, 156}, {156, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_04b_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {234, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 230}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 1552}, {234, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_04b_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {310, 306}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{310, 306}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1254}, {310, 306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_05a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {236, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{236, 156}</string>
			<key>spriteSourceSize</key>
			<string>{240, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 1870}, {236, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_05a_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {354, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{354, 234}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 548}, {354, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_05a_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {470, 310}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{470, 310}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {470, 310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_05b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {236, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{236, 156}</string>
			<key>spriteSourceSize</key>
			<string>{240, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 1870}, {236, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_05b_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {354, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{354, 234}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 312}, {354, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_05b_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {470, 310}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{470, 310}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 0}, {470, 310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_06a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {234, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 156}</string>
			<key>spriteSourceSize</key>
			<string>{240, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 1784}, {234, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_06a_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {352, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{352, 232}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 626}, {352, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_06a_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {468, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{468, 308}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{944, 0}, {468, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_06b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {234, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{234, 156}</string>
			<key>spriteSourceSize</key>
			<string>{240, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{566, 1826}, {234, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_06b_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {352, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{352, 232}</string>
			<key>spriteSourceSize</key>
			<string>{360, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 860}, {352, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_06b_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {468, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{468, 308}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1414, 0}, {468, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 36}, {56, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 56}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{776, 1984}, {56, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_01_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 37}, {54, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 54}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1068, 1994}, {54, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 30}, {76, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{76, 66}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1038, 1858}, {76, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_02_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 31}, {74, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 66}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1068, 1926}, {74, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 24}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1134, 978}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_03_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 25}, {78, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 78}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{994, 1538}, {78, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 16}, {80, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 96}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{906, 1942}, {80, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_04_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 16}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{988, 1942}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {80, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{80, 118}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{986, 1660}, {80, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_05_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {80, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{80, 118}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 1660}, {80, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {88, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1904}, {88, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_06_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {88, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 1180}, {88, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {116, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 100}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 428}, {116, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_07_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 15}, {114, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 98}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 530}, {114, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {112, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{112, 124}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 630}, {112, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_bloc_bg_08_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {110, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{110, 124}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 626}, {110, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_blocs_particles_1a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 14}, {70, 102}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{70, 102}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{834, 1942}, {70, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_blocs_particles_1b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 18}, {104, 96}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{104, 96}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 1082}, {104, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_blocs_particles_1c.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 14}, {106, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{106, 102}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 978}, {106, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_blocs_particles_1d.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 19}, {90, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 90}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1042, 978}, {90, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_jelly_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 27}, {148, 144}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{148, 144}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1880, 548}, {148, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_jelly_02a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 16}, {224, 234}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{224, 234}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 1324}, {224, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_jelly_02b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 16}, {224, 234}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{224, 234}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 1316}, {224, 234}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_jelly_03a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {466, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{466, 308}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{944, 310}, {466, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_jelly_03b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {466, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{466, 308}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1412, 310}, {466, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_jelly_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {294, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{294, 188}</string>
			<key>spriteSourceSize</key>
			<string>{320, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 1126}, {294, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_jelly_particles_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {106, 106}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{106, 106}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 756}, {106, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_jelly_particles_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {108, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{108, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 752}, {108, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_jelly_particles_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {88, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{88, 120}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 1538}, {88, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_wheel_02_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{102, 6}, {36, 228}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 228}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 1094}, {36, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_wheel_02_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{154, 10}, {52, 340}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 340}</string>
			<key>spriteSourceSize</key>
			<string>{360, 360}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1562}, {52, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_wheel_03_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {202, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 25}</string>
			<key>spriteSize</key>
			<string>{202, 180}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 1126}, {202, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_wheel_03_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 10}, {300, 264}}</string>
			<key>spriteOffset</key>
			<string>{0, 38}</string>
			<key>spriteSize</key>
			<string>{300, 264}</string>
			<key>spriteSourceSize</key>
			<string>{360, 360}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 1560}, {300, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_wheel_04_150.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {230, 228}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{230, 228}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{764, 1308}, {230, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_wheel_04_200.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {340, 340}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{360, 360}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 784}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_wheel_particles_1a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {106, 106}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{106, 106}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 870}, {106, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>world04_wheel_particles_1c.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 101}, {208, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{208, 58}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{566, 1984}, {208, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>world04_blocs@2x.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>world04_blocs@2x</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>world04_blocs@2x</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>